.custom-time-input {
    width: 100%; /* Adjust the width as needed */
    background-color: white; /* Background color of the input */
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .custom-time-input::-webkit-calendar-picker-indicator {
    filter: invert(38%) sepia(93%) saturate(1262%) hue-rotate(188deg) brightness(96%) contrast(104%);
  }
  
  /* Firefox custom color for the time input */
  .custom-time-input::-moz-selection {
    background-color: #4286D2;
    color: white;
  }
  
  .custom-time-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
  
  .custom-time-input::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
  }
  .mat-datepicker-toggle .mat-icon-button {
    color: #4286D2;
  }
  