<div class="page-layout page-layout--module-all-center">
    <div style="width: 90%;">

        <!-- For Employers -->
        <div class="row justify-content-around" style="margin-top: 25px;" *ngIf="isEmployer">
            <mat-card>
                <mat-card-title-group>
                    <mat-card-subtitle>Employee Register URL</mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-content>
                    <div class="url-display">
                        <span>{{ employeeRegisterUrl }}</span>
                        <button mat-icon-button (click)="copyUrl()">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-divider style="margin-bottom: 35px;margin-top: 35px;border-top-width: 1px;height: 25px;"></mat-divider>
        <!-- For all users -->
        <div class="row justify-content-around" style="margin-top: 35px;">
        </div>     
    </div>
</div>