<div class="side-menu--all-center">
    <img src="assets/png/small.png" height="40px" margin-top="35px !important;" />
    <mat-nav-list class="side-menu--nav-list">
        <div *ngFor="let item of navItems">
            <mat-list-item (click)="onItemSelected(item)" [disabled]="(isDisabledEmployer && item.displayName == 'Employers') || 
            (isDisabledEmployee && (item.displayName == 'Employees' || item.displayName == 'Employers'))"
                class="side-menu--nav-list--item" [ngClass]="{'disabled': (isDisabledEmployer && item.displayName == 'Employers') ||  
                (isDisabledEmployee && (item.displayName == 'Employees') || item.displayName == 'Employers')}">
                <mat-icon mat-list-icon class="side-menu--nav-list--icon">{{item.iconName}}</mat-icon>
                <span>{{item.displayName}} </span>
            </mat-list-item>            
        </div>
    </mat-nav-list>
</div>