<div class="side-menu--all-center">
    <img src="assets/png/small.png" height="40px" margin-top="35px !important;" />
    <mat-nav-list class="side-menu--nav-list">
        <div *ngFor="let item of navItems">
            <mat-list-item (click)="onItemSelected(item)" [disabled]="((role == 'Employer' && item.displayName == 'Employers') || 
            (role == 'Employee' && (item.displayName == 'Employees' || item.displayName == 'Employers' || item.displayName == 'Projects')) ||
            (role == 'Admin' && (item.displayName == 'Employees' || item.displayName == 'Time Logs' || item.displayName == 'Projects')))"
                class="side-menu--nav-list--item" [ngClass]="{'disabled': ((role == 'Employer' && item.displayName == 'Employers') || 
                (role == 'Employee' && (item.displayName == 'Employees' || item.displayName == 'Employers' || item.displayName == 'Projects')) ||
                (role == 'Admin' && (item.displayName == 'Employees' || item.displayName == 'Time Logs' || item.displayName == 'Projects')))}">
                <mat-icon mat-list-icon class="side-menu--nav-list--icon">{{item.iconName}}</mat-icon>
                <span>{{item.displayName}} </span>
            </mat-list-item>            
        </div>
    </mat-nav-list>
</div>