.pm-dialog{

    &--title {
        color: #4286D2; 
        font-weight: 900 !important; 
        text-align: center;
    }

    &--label {
        width: 80%; 
        align-content: center;
        align-items: flex-end;       
    }

}