<div class="pm-card__dialog-box-container">
    <h1 class="pm-dialog--title">{{title}}</h1>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="projectDetailsGroup">
            <div class="form-layout--all-center">
                <label class="col-4 form-layout--label" style="max-width: none;">Title: </label>
                <input matInput readonly formControlName="title" />
            </div>

            <div class="form-layout--all-center">
                <label class="col-4 form-layout--label">Description: </label>
                <input matInput readonly formControlName="description">
            </div>
            <div class="form-layout--all-center">
                <label class="col-4 form-layout--label">Status: </label>
                <!-- <mat-form-field> -->
                    <mat-select formControlName="status" placeholder="Select Status" class="col-8 form-layout--form-double-col">
                        <mat-option *ngFor="let status of statusOptions" [value]="status">
                            {{ status }}
                        </mat-option>
                    </mat-select>
                <!-- </mat-form-field> -->
            </div>
        </form>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8" style="display: flex; justify-content: flex-end;">
                <span class="pm-error" *ngIf="isInvalidForm" style="bottom: 0px;">Please fill all the Details</span>
                <button mat-button style="background-color: #4286D2; color: white; width: 80px;"
                    (click)="onSubmit();">Submit</button>
            </div>
        </div>
    </mat-dialog-content>
</div>