<div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 20px;">

    <div style="display: flex; align-items: center;">
        <mat-form-field appearance="outline" *ngIf="item == 'timeLogs'">
            <mat-label>Select the User</mat-label>
            <mat-select style="color: #4286D2;"
                        (selectionChange)="onSelect($event)">
                <mat-option *ngFor="let option of projectList" [value]="option.title">{{ option.title }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div style="display: flex; align-items: center;margin-left: 10px">
        <mat-form-field appearance="outline" *ngIf="item == 'timeLogs'">
            <mat-label>Select the Project</mat-label>
            <mat-select style="color: #4286D2;"
                        (selectionChange)="onSelect($event)">
                <mat-option *ngFor="let option of projectList" [value]="option.title">{{ option.title }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <button class="search--icon-width" *ngIf="(item == 'projects' && 
    (role == 'employer' || role == 'admin')) || (item == 'timeLogs')" 
    mat-icon-button style="color: #4286D2; background-color: transparent; margin-left: 10px;margin-bottom: 20px;" (click)="create()">
        <mat-icon style="font-size: 35px;">add_circle</mat-icon>
    </button>
</div>
<mat-divider style="margin-top: 15px; margin-bottom: 25px; border-top-width: 1px"></mat-divider>
